/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <behaviors/mouse_move.dtsi>
#include <behaviors/mouse_scroll.dtsi>
#include <behaviors/mouse_keys.dtsi>

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define LOWER  1
#define RAISE  2
#define ADJUST 3
#define MOUSEL 4

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
           bindings = <
                &kp ESC    &kp N1      &kp N2      &kp N3     &kp N4      &kp N5    &kp N6      &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS    &kp EQUAL   &kp BSPC 
                &kp TAB    &kp LBKT    &kp Q       &kp W       &kp E      &kp R       &kp T     &kp Y      &kp U      &kp I      &kp O      &kp P        &kp RBKT    &kp RET  
                &trans     &kp BSLH    &kp A       &kp S      &kp D       &kp F     &kp G       &kp H      &kp J      &kp K      &kp L      &kp SEMI     &kp SQT     &trans 
                &trans     &kp LSHFT   &kp Z       &kp X      &kp C       &kp V     &kp B       &kp N      &kp M      &kp COMMA  &kp PERIOD &kp SLASH    &kp RSHIFT  &trans  
                &kp LCTRL  &trans      &kp LALT    &trans     &mo LOWER   &trans    &kp SPACE   &kp SPACE  &trans     &mo RAISE  &trans     &kp RALT     &trans      &kp RCTRL  
            >;
        };
        lower_layer {
           bindings = <
                &kp ESC    &kp N1      &kp N2      &kp N3     &kp N4      &kp N5    &kp N6      &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS    &kp EQUAL   &kp BSPC 
                &kp TAB    &kp LBKT    &kp Q       &kp W       &kp E      &kp R       &kp T     &kp Y      &kp U      &kp I      &kp O      &kp P        &kp RBKT    &kp RET  
                &trans     &kp BSLH    &kp A       &kp S      &kp D       &kp F     &kp G       &kp H      &kp J      &kp K      &kp L      &kp SEMI     &kp SQT     &trans 
                &trans     &kp LSHFT   &kp Z       &kp X      &kp C       &kp V     &kp B       &kp N      &kp M      &kp COMMA  &kp PERIOD &kp SLASH    &kp RSHIFT  &trans  
                &kp LCTRL  &trans      &kp LALT    &trans     &mo LOWER   &trans    &kp SPACE   &kp SPACE  &trans     &mo RAISE  &trans     &kp RALT     &trans      &kp RCTRL  
            >;
        };
        raise_layer {
           bindings = <
                &kp ESC    &kp N1      &kp N2      &kp N3     &kp N4      &kp N5    &kp N6      &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS    &kp EQUAL   &kp BSPC 
                &kp TAB    &kp LBKT    &kp Q       &kp W       &kp E      &kp R       &kp T     &kp Y      &kp U      &kp I      &kp O      &kp P        &kp RBKT    &kp RET  
                &trans     &kp BSLH    &kp A       &kp S      &kp D       &kp F     &kp G       &kp H      &kp J      &kp K      &kp L      &kp SEMI     &kp SQT     &trans 
                &trans     &kp LSHFT   &kp Z       &kp X      &kp C       &kp V     &kp B       &kp N      &kp M      &kp COMMA  &kp PERIOD &kp SLASH    &kp RSHIFT  &trans  
                &kp LCTRL  &trans      &kp LALT    &trans     &mo LOWER   &trans    &kp SPACE   &kp SPACE  &trans     &mo RAISE  &trans     &kp RALT     &trans      &kp RCTRL  
            >;
        };
        adjust_layer {
           bindings = <
                &kp ESC    &kp N1      &kp N2      &kp N3     &kp N4      &kp N5    &kp N6      &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS    &kp EQUAL   &kp BSPC 
                &kp TAB    &kp LBKT    &kp Q       &kp W       &kp E      &kp R       &kp T     &kp Y      &kp U      &kp I      &kp O      &kp P        &kp RBKT    &kp RET  
                &trans     &kp BSLH    &kp A       &kp S      &kp D       &kp F     &kp G       &kp H      &kp J      &kp K      &kp L      &kp SEMI     &kp SQT     &trans 
                &trans     &kp LSHFT   &kp Z       &kp X      &kp C       &kp V     &kp B       &kp N      &kp M      &kp COMMA  &kp PERIOD &kp SLASH    &kp RSHIFT  &trans  
                &kp LCTRL  &trans      &kp LALT    &trans     &mo LOWER   &trans    &kp SPACE   &kp SPACE  &trans     &mo RAISE  &trans     &kp RALT     &trans      &kp RCTRL  
            >;
        };

        mouse_layer {
           bindings = <
                &kp ESC    &kp N1      &kp N2      &kp N3     &kp N4      &kp N5    &kp N6      &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS    &kp EQUAL   &kp BSPC 
                &kp TAB    &kp LBKT    &kp Q       &kp W       &kp E      &kp R       &kp T     &kp Y      &kp U      &kp I      &kp O      &kp P        &kp RBKT    &kp RET  
                &trans     &kp BSLH    &kp A       &kp S      &kp D       &kp F     &kp G       &kp H      &kp J      &kp K      &kp L      &kp SEMI     &kp SQT     &trans 
                &trans     &kp LSHFT   &kp Z       &kp X      &kp C       &kp V     &kp B       &kp N      &kp M      &kp COMMA  &kp PERIOD &kp SLASH    &kp RSHIFT  &trans  
                &kp LCTRL  &trans      &kp LALT    &trans     &mo LOWER   &trans    &kp SPACE   &kp SPACE  &trans     &mo RAISE  &trans     &kp RALT     &trans      &kp RCTRL  
            >;
        };
    };
};